@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800;900&display=swap');
@import "./normalize";
@import "./variables";


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  min-height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER SECTION */

header {
  width: 100%;

  .nav {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background: $gray;
    border-bottom: 2px solid $gray;

    &__container {
      background: $light-gray;
      max-width: 1118px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        li {
          display: flex;
          align-items: center;
          padding: 0 24px;
          height: 100%;
        }
      }
    }

    &__register {
      background: $gray;
    }
    &__login {
      background: $dark-gray;
      color: #ffffff;
    }
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 140px;
    height: 28px;
    background: $light-gray;

    .breadcrumbs__container {
      width: 1180px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }

    &__item {
      padding: 5px;

      &::after {
        margin-left: 10px;
        content: "/"
      }

      &:nth-last-of-type(1) {
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  header
  .breadcrumbs {
    padding: 0 40px;
  }
}

@media (max-width: 575.98px) {
  header {
    .nav {
      &__container {
        justify-content: center;

        ul.nav__register-login {
          display: none;
        }
      }
    }
  }
}

/* LOGIN SECTION */

.login__container {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;

  .login {
    position: relative;
    width: 100%;

    &__form-container {
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      background: #fafafa;
      border: 1px solid $gray;
      padding: $padding;
      width: 100%;
      box-sizing: border-box;
    }
    &__heading {
      margin: 0 0 40px 15px;
      .login__title, .login__subtitle {
        font-weight: 900;
        margin: 5px 0;
        position: relative;
      }
      .login__title::after {
        content: '';
        position: absolute;
        width: 75px;
        height: 5px;
        bottom: -2px;
        left: -5px;
        background: $blue;
        z-index: -1;
      }
    }
    &__form {
      border-radius: 5px;
      max-width: 770px;
      width: 100%;
      box-sizing: border-box;
      padding: $padding;
      display: flex;
      flex-direction: column;
      background: #f0f0f0;

      &__input {
        margin: 20px 0;
        background: #fff;
        border-radius: 5px;
        border: none;
        padding: 12px;
        box-shadow: inset 1px 1px 2px 1px $gray;
      }
      &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__reset-password {
        text-decoration: none;
        color: $dark-gray;
      }
      &__submit {
        border-radius: 5px;
        background: $dark-gray;
        color: #fff;
        border: none;
        padding: $padding 180px;
      }
    }
    .not-member {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 400px;
      position: relative;
      box-sizing: border-box;

      &::after {
        content: '';
        height: 130%;
        background: $blue;
        position: absolute;
        left: $padding;
        right: $padding;
        z-index: -1;
        transform: skewY(-8deg);
      }

      &__register {
        border-radius: 5px;
        background: $dark-gray;
        color: #fff;
        border: none;
        padding: $padding 50px;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .login__container {
    margin: 20px 0;
    min-width: 700px;

    .login {
      &__form-container {
        flex-direction: column;

        .login__form {
          margin-bottom: 20px;
          max-width: 100%;

          &__submit {
            padding: $padding 40px;
          }
        }

        .not-member {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          padding: $padding;

          &::after {
            display: none;
          }

          &__register {
            padding: $padding;
          }
        }
      }
    }
  }
}

@media (max-width: 992.98px) {
  .login__container {
    min-width: 100%;
  }
}

/* FOOTER SECTION */

footer {
  background: $dark-gray;
  height: 80px;
  width: 100%;
}
